
<app-flash></app-flash>
<div class="outer" style="margin: 50px">
  <button mat-raised-button color="accent" routerLink="all">All post</button>  | &nbsp; &nbsp;
  <button mat-raised-button color="accent" routerLink="new">New Post</button>  | &nbsp; &nbsp;
  <button mat-raised-button color="accent" routerLink="update">Update post</button>  | &nbsp; &nbsp;
  <button mat-raised-button color="accent" routerLink="delete">Delete post</button> | &nbsp; &nbsp;
  <button mat-raised-button color="accent" routerLink="find">Find all</button> | &nbsp; &nbsp;
</div>
<hr>
<router-outlet></router-outlet>


